<html>
<head>
<title>Solar system generator</title>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/styles.css" />
</head>
<body>
    
    <form method="post" action="" id="star">
        <table>
            <tr>
                <td>Star name:</td>
                <td><input type="text" name="name" required/></td>
                <td></td>
            </tr>
            <tr>
                <td>Mass (in solar masses)</td>
                <td><input type="number" name="mass" min="0.1" max="400" required /></td>
                <td class="slider"><div id="mass-slider"></div></td>
            </tr>
            <tr>
                <td>Radius (in solar radiuses)</td>
                <td><input type="number" name="radius" required /></td>
                <td class="slider"><div id="radius-slider"></div></td>
            </tr>
            <tr>
                <td>Density (in solar densities)</td>
                <td><input type="number" name="density" readonly /></td>
                <td></td>
            </tr>
            <tr>
                <td>Estimated temperature (°C)</td>
                <td><input type="number" name="temperature" readonly /></td>
                <td></td>
            </tr>
            <tr>
                <td>Estimated lumnosity (in suns)</td>
                <td><input type="number" name="lumnosity" readonly /></td>
                <td></td>
            </tr>
            <tr>
                <td>Estimated type</td>
                <td colspan="2" class="estimated"></td>
            </tr>
        </table>
    </form>

    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script src="/custom.js"></script>
</body>
</html>
